body {
  font: 10px sans-serif;
}
h1 {
  font: 40px sans-serif;
}
/*grid area setting*/
.item1 { grid-area: header; }
.item2 { grid-area: intro; }
.item3 { grid-area: graph; }
.item4 { grid-area: map; }
.item5 { grid-area: footer; }
.item6 { grid-area: scatter; }

.intro {
  font-size: 15px;
  text-align: left;
}

/*web page layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'intro map'
    'graph map'
    'scatter map';
  grid-template-rows:  10% 30% 30% auto;
  grid-template-columns:  40% auto;
  grid-gap: 10px;
  background-color: #ffffff;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

/*histogram*/

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}



/*map drawing */
path {
  fill: none;
  stroke: #000;
  stroke-width: .5px;
  stroke-linejoin: round;
  stroke-linecap: round;
}


.rcorners1 {
  border-radius: 15px;
  background: #3282b9;
  padding: 20px; 
  width: 100;
  height: 50px; 
}